
.main{
	
	background-color: #152238;
}

.stButton>button{
	color: white;
	background-color: rgba(220,20,60);
	border-radius: 3px;\
	box-shadow: 3px gray;
	padding-left: 30px;
	padding-right: 30px;
}

.stSelectbox>div>div{
	background-color: #152238;
	color: white;
	width: 100%;
}

.stSidebar>.stText>text{
	color: blue;
}

.main>div{
	background-color: rgba(230,230,245,1);
	color: #152238;
	width: 100%;
	margin: 20px;
	border-radius: 5px;
	box-shadow: 3px 3px darkslateblue;
}

